<nav class="navbar navbar-dark" id="navbar">
  <span id="toggleBtnSpacing" class="sidebar-closed">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </span>
    <div class="" id="navbarNav">
      <ul class="navbar-nav navbar-right" style="flex-direction:row">
        <li class="nav-item active" style="padding-right: 25px;">
          <a class="nav-link" href="#"><i class="far fa-bell" style="font-size: 20px;"></i></a>
          
        </li>
        <span class="notif-bell badge badge-warning">10</span> 

        <li class="nav-item active" style="padding-right: 25px;">
          <a class="nav-link" href="#"><i class="far fa-flag" style="font-size: 20px;"></i></a>
        </li>
        <span class="notif-flag badge badge-danger">9</span> 

        <li class="nav-item active" style="padding-right: 25px;">
          <a class="nav-link" href="#">
            <img src="../assets/User_2 160x160.jpg" width="30" height="30" style="border-radius: 50%;">
            <span class="d-none d-sm-inline" style="padding-left: 10px;">Alexander Pierce</span>
          </a>
        </li>
        <li class="nav-item active" style="padding-right: 25px;">
          <a class="nav-link" href="#"><i class="fas fa-cogs" style="font-size: 20px;"></i></a>
        </li>
      </ul>
    </div>
  </nav>