<table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Task</th>
                <th>Progress</th>
                <th>Label</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th >1.</th>
                  <td>Update Software</td>
                  <td class="progressBar">
                      <div class="progress" style="height: 6px;">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 55%"></div>
                      </div>
                  </td>
                  <td><span class="badge badge-pill badge-danger">55%</span></td>
                </tr>
                <tr>
                  <th>2.</th>
                  <td>Clean Database</td>
                  <td class="progressBar">
                      <div class="progress" style="height: 6px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" ></div>
                      </div>
                  </td>
                  <td><span class="badge badge-pill badge-warning" style="color: white;">70%</span></td>
                </tr>
                <tr>
                  <th>3.</th>
                  <td>Cron job running</td>
                  <td class="progressBar">
                      <div class="progress" style="height: 6px;">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" ></div>
                      </div>
                  </td>
                  <td ><span class="badge badge-pill badge-primary">30%</span></td>
                </tr>
                <tr>
                  <th>4.</th>
                  <td>Fix and squish bugs</td>
                  <td class="progressBar">
                      <div class="progress" style="height: 6px;">
                          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%" ></div>
                      </div>
                  </td>
                  <td><span class="badge badge-pill badge-success">90%</span></td>
                </tr>
                <tr>
                  <th>5.</th>
                  <td>Roll back changes</td>
                  <td class="progressBar">
                      <div class="progress" style="height: 6px;">
                          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 10%" ></div>
                      </div>
                  </td>
                  <td><span class="badge badge-pill badge-info">10%</span></td>
                </tr>
              </tbody>
</table>